<h2> make a new post </h2>
<%= form_tag('/posts') do %>
	<div>
		<%= label_tag(:title, "Title: ") %>
		<%= text_field_tag(:title, nil, size:40, maxlength:40) %>
	</div>

	<div>
		<%= label_tag(:tags, "Tags: ") %>
		<%= text_field_tag(:tags, nil, size: 40) %>
	</div>
	<div>
		<%= label_tag(:content, "Content: ") %>
		<br>
		<%= text_area_tag(:content, nil, rows:20, cols:80) %>
	</div>
	<div><%= submit_tag 'Save' %></div>
<% end %>
<br>
<br>
<%= link_to "Back", :back %>